body {
    font-family: Arial;
    text-align: center;
}

.form-box {
    margin: 20px;
}

input {
    margin: 5px;
    padding: 5px;
}

table {
    margin: auto;
    border-collapse: collapse;
}

th,
td {
    border: 1px solid black;
    padding: 8px;
}